// 共通區塊 ---------------------------

.mainTitleStyle{
    color: $secondary;
    font-size: $fz-6;
    font-weight: bold;

    @include pad(){
        font-size: $fz-4-5;
        margin-bottom: $mb-2-5;
    }

    @include mobile(){
        font-size: $fz-4;
        margin-bottom: $mb-2-5;
    }

}

.sectionPaddingTop{
    padding-top: 60px;

    @include pad(){
        padding-top: 40px;
    }

    @include mobile(){
        padding-top: 32px;
    }

}

.containerSetting{
    display: flex;
    flex-direction: column;
    align-items: center;
}


// 主視覺：看得清，才能看得遠 ---------------------------

.indexBanner{
    max-width: 100%;
    height: 840px;
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    @include mobile(){
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png');
    background-position: -15px -115px;
    height: 394px;
}

    // RWD 問題1：背景圖位置，應該在眼鏡男與玻璃鏡射的地方

    .container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 840px;

        @include mobile(){
            height: 394px;
        }
    }

    .bannerTitle{
        text-align: right;
    }

    .subtitle{
        color: $secondary;
        font-size: $fz-5;
        font-weight: regular;

        @include pad(){
            font-size: $fz-3;
        }

        @include mobile(){
            font-size: $fz-2;
        }
    }

    .title{
        color: $secondary;
        font-size: $fz-8;
        font-weight: bold;

        @include pad(){
            font-size: $fz-6;
        }

        @include mobile(){
            font-size: $fz-4-5;
        }

    }
}

// 服務：用專業的心，做專業的事 ---------------------------

.service{
    background-color: $primary-light;

    .container{

        .mainTitleStyle{

            @include pad(){
                margin-bottom: 40px;
            }

            @include mobile(){
                margin-bottom: 28px;
            }
        }

        ul{
            display: flex;

            @include pad(){
                flex-wrap: wrap;
                margin-bottom: $mb-7;
            }
            @include mobile(){
                margin-bottom: $mb-5;
            }
        }

        li{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 8px;
            margin: 0 15px;

            @include pad(){
                width: 45%;
                margin-bottom: 45px;
            }
    
            @include mobile(){
                width: 100%;
                margin-bottom: 40px;
            }

        }

        .serviceListPic{
            width: 83px;
            height: 83px;
        }

        .serviceListText{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            h3{
                color: $secondary;
                font-weight: bold;
                font-size: $fz-4;
            }
        }

    }
}

// 經典系列鏡框------------------------------------------------------


.classicSeries{


    .classicSeriesContent{

        li{
            display: flex;
            justify-content: space-between;

            @include pad(){
                margin-bottom: $mb-1;
            }

            @include mobile(){
                position: relative;
                align-items: center;
                justify-content: center;
            }
        }

        .classicSeriesPic{
            width: 58%;

            @include mobile(){
                width: 100%;
            }
        }

    }

    .classicSeriesText{
        display: flex;
        align-items: center;
        width: 38%;

        @include mobile(){
            position: absolute;
            width: 100%;
            justify-content: center;
        }

        .blinkIcon{
            width: 40px;
            height: 40px;

            @include pad(){
                width: 36px;
                height: 36px;
            }
        }

        h3{
            margin-left: 8px;
            text-transform: uppercase;
            color: $primary;
            font-size: $fz-6;
            font-weight: bold;
            font-style: italic;

            @include pad(){
                font-size: 28px;
            }
            
        }
    }

    .sunglassesGroup{
        display: flex;

        .classicSeriesText{
            order: -1;
            margin-right: 30px;
            display: flex;
            justify-content: flex-end;
            
            @include pad(){
                order: 1;
                margin-right: 0px;
                justify-content: flex-start;
            }
    
            @include mobile(){
                width: 100%;
                justify-content: center;
            }
            
        }
    }
}

// 聯名設計鏡框------------------------------------------------------

.coBrand{
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true');
    background-position: center;
    height: 705px;
    padding-bottom: 80px;

    @include pad(){
        height: 452px;
    }

    @include mobile(){
        height: 719px;
    }

    .mainTitleStyle{
        color: white;

    }

    .coBrandProduct{
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        @include mobile(){
            
            flex-direction: column;
        }

        li{
            width: 540px;
            height: 455px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            @include pad(){
                width: 330px;
                height: 278px;
            }
    
            @include mobile(){
                width: 345px;
                height: 291px;
            }

        }

        li::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, .5);
        }

        .itemDouble{
            background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true');
            margin-right: 30px;

            @include mobile(){
                margin-bottom: $mb-2;
            }
        }

        .itemYouth{
            background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true');
        }

        h3{
            z-index: 2;
            font-size: $fz-8;
            color: $primary;
            font-weight: bold;

            @include pad(){
                font-size: $fz-4-5;
            }
    
            @include mobile(){
                font-size: $fz-4-5;
            }

        }
    }
}

// 顧客推薦------------------------------------------------------

.customer{

    .customerList{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include pad(){
            flex-wrap: wrap;
            margin-bottom: $mb-7;
        }

        @include mobile(){
            margin-bottom: $mb-5;
        }


        li{
            width: 23%;
            box-shadow: 0px 2px 6px #00000029;
            border-radius: 4px;
            display: flex;  // 使文字內容在這個 li 之內一定會有固定高度
            flex-direction: column;  // 使文字內容在這個 li 之內一定會有固定高度

            @include pad(){
                width: 48%;
                margin-bottom: $mb-4;
            }
    
            @include mobile(){
                width: 100%;
            }

            .customerPic{
                img{
                    object-fit: cover;
                    width: 100%;
                    border-radius: 4px 5px 0px 0px;
                }
            }
        }

        .customerContent{
            padding: 16px;
            flex-grow: 1;   // 使文字內容在這個 li 之內一定會有固定高度
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            @include pad(){
                padding: 24px;
            }
        }

        .customerText{
            color: #212529;
        }

        .name{
            font-size: $fz-1;
        }


        .date{
            color: #707070;
            font-size: $fz-1;
            padding-top: 76px;
        }
    }

}

// 聯絡我們 ---------------------------------------------

.contact{

        background-color: $primary-light;

    .container{

        width: 730px;

        .contactUsTitle{
            color: black;
        }

        .contactUsText{
            font-size: $fz-3;

            @include pad(){
                font-size: $fz-2;
            }
        }

    }


    .contactForm{

        input{
            border-radius: 4px;
            background-color: transparent;
            border: 1px solid black;
            font-size: $fz-2;
            padding: 16px;
            // input 也不需要寫死高度

            @include pad(){
                font-size: $fz-1;
                padding: 12px;
            }
        }

        .suggest textarea{
            border-radius: 4px;
            background-color: transparent;
            border: 1px solid black;
            font-size: $fz-2;
            height: 136px;
            padding: 16px;

            @include pad(){
                font-size: $fz-1;
                padding: 12px;
                height: 100px;
            }
        }

        // 聯絡我們的隱私權勾選 ------------------------------------

        .contactFormCheckbox{
            display: flex;
            align-items: center;

            @include mobile(){
                align-items: flex-start;
            }

            .checkbox{
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }

        // 聯絡我們的送出鍵 ------------------------------------

        .contactFormSubmit{

            text-align: center;
            
                .submit{
                    width: 350px;
                    text-align: center;
                    background-color: $primary;
                    color: white;
                    border: none;
                    border-radius: 0%;

                    @include pad(){
                        width: 210px;
                        font-size: $fz-1;
                    }

                    @include mobile(){
                        width: 165px;
                    }
                }

                .submit:hover{
                    background-color: $secondary;
                }
        }

    }

}