<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title><%- title %></title>

  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

 <!-- 表頭 -->
  <header class="header">
    <h1 class="logo">
      <a href="index.html">Glasses 官網</a>
    </h1>
    <nav>

      <ul class="menu">
        <li><a href="#">系列鏡框111111111</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>

    </nav>
    
  </header>


  <%- contents %>


  <!-- 表尾 -->
  <footer class="footer">

    <div class="container">

      <div class="info-box">

        <div class="info-box-left">

            <ul class="footerMenu">
              <li class="item"><a href="">首頁</a></li>
              <li class="item"><a href="">系列鏡框</a></li>
              <li class="item"><a href="">門市據點</a></li>
              <li class="item"><a href="">部落格</a></li>
              <li class="item"><a href="">常見問題</a></li>
            </ul>
    
              
          <ul class="contactList">
            <li class="item">
              <img src="https://raw.githubusercontent.com/hff2/gulp_test/main/app/assets/images/icon-phone.svg" alt="">
              <h2>0800-000-000</h2>
            </li>
            <li class="item">
              <img src="https://raw.githubusercontent.com/hff2/gulp_test/main/app/assets/images/icon-mail.svg" alt="">
              <h2>glasses@business.com</h2>
            </li>
          </ul>

        </div>

        <ul class="socialMediaList">
          <li class="item"><a href=""><img src="https://raw.githubusercontent.com/hff2/gulp_test/main/app/assets/images/icon-fb.svg" alt="facebook icon"></a></li>
          <li class="item"><a href=""><img src="https://raw.githubusercontent.com/hff2/gulp_test/main/app/assets/images/icon-ig.svg" alt="instagram icon"></a></li>
          <li class="item"><a href=""><img src="https://raw.githubusercontent.com/hff2/gulp_test/main/app/assets/images/icon-line.svg" alt="line icon"></a></li>
        </ul>

      </div>

  
      <div class="copyRight">
        <small>Copyright © 2020 Glasses.All rights reserved.</small>

        <div class="footer-info-box">
          <small class="middleText">隱私權政策</small>
          <small>服務條款</small>
        </div>

      </div>

    </div>
    
  </footer>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>


</body>

</html>
