@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-2-5 {
  margin-bottom: 1.25rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 2.5rem; }

.mb-6 {
  margin-bottom: 3rem; }

.mb-7 {
  margin-bottom: 3.5rem; }

.mb-7-5 {
  margin-bottom: 3.75rem; }

.mb-8 {
  margin-bottom: 4rem; }

.mb-9 {
  margin-bottom: 4.5rem; }

.mb-10 {
  margin-bottom: 5rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  body *, body *::before, body *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  body img {
    vertical-align: middle;
    max-width: 100%;
    height: auto; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

.header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 29.5px 88px; }
  @media (max-width: 992px) {
    .header {
      padding: 30px 39px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media (max-width: 767px) {
  .logo {
    margin: 10px 0; } }

.logo a {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 49px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-decoration: none; }
  @media (max-width: 767px) {
    .logo a {
      background-size: contain;
      width: 48px;
      height: 30px; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .menu {
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .menu li {
    margin-left: 40px; }
    @media (max-width: 767px) {
      .menu li {
        width: 50%;
        padding: 8px 54px;
        margin-left: 0;
        border: 1px solid white; } }
  .menu a {
    color: #fff;
    font-size: 1.25rem;
    display: block;
    text-decoration: none;
    text-align: center; }

.footer {
  background-color: #AA0601;
  color: #fff;
  padding: 32px 0 39px 0; }
  @media (max-width: 992px) {
    .footer {
      padding: 32px 39px 39px 39px; } }
  @media (max-width: 767px) {
    .footer {
      padding: 25px 15px; } }

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .info-box {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .info-box {
      margin-bottom: 16px; } }

.footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px; }
  @media (max-width: 992px) {
    .footerMenu {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .footerMenu {
      display: none; } }
  .footerMenu .item {
    margin-right: 48px; }
    @media (max-width: 992px) {
      .footerMenu .item {
        margin-right: 40px; } }
  .footerMenu a {
    font-size: 1rem;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center; }

.contactList {
  padding-bottom: 8px; }
  @media (max-width: 767px) {
    .contactList {
      padding-bottom: 18px; } }
  .contactList .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .contactList .item {
        margin-bottom: 12px; } }
    @media (max-width: 767px) {
      .contactList .item {
        margin-bottom: 6px; } }
    .contactList .item img {
      margin-right: 20px;
      display: block;
      width: 40px; }
      @media (max-width: 992px) {
        .contactList .item img {
          margin-right: 10px;
          width: 20px; } }
      @media (max-width: 767px) {
        .contactList .item img {
          margin-right: 6.5px;
          width: 16.67px; } }
    .contactList .item a {
      display: block;
      text-decoration: none;
      text-align: center;
      font-size: 2.25rem;
      color: #fff; }
      @media (max-width: 992px) {
        .contactList .item a {
          font-size: 1.25rem; } }
      @media (max-width: 767px) {
        .contactList .item a {
          font-size: 1rem; } }

.socialMediaList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .socialMediaList img {
    display: block;
    margin-left: 32px; }
    @media (max-width: 992px) {
      .socialMediaList img {
        width: 50%;
        margin-left: 24px; } }

.copyRight {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .copyRight {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .copyRight .footer-info-box {
    width: 150px;
    font-size: 0.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .copyRight .footer-info-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .copyRight .middleText {
    display: block; }
    @media (max-width: 767px) {
      .copyRight .middleText {
        margin: 8px 0; } }

.mainTitleStyle {
  color: #650300;
  font-size: 3rem;
  font-weight: bold; }

.sectionPaddingTop {
  padding-top: 60px; }

.containerSetting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.w-100 {
  width: 100%; }

.indexBanner {
  width: 100%;
  height: 840px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }
  .indexBanner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 840px; }
  .indexBanner .bannerTitle {
    text-align: right; }
  .indexBanner .subtitle {
    color: #650300;
    font-size: 2.25rem;
    font-weight: regular; }
  .indexBanner .title {
    color: #650300;
    font-size: 4.5rem;
    font-weight: bold; }

.service {
  background-color: #AA06010D; }
  .service .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .service .container li {
    width: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 8px;
    margin: 0 15px; }
  .service .container .serviceListPic {
    width: 83px;
    height: 83px; }
  .service .container .serviceListText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .service .container .serviceListText h3 {
      color: #650300;
      font-weight: bold;
      font-size: 1.5rem; }

.classicSeries .classicSeriesContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.classicSeries .classicSeriesContent .classicSeriesPic {
  width: 635px; }

.classicSeries .classicSeriesText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 445px; }
  .classicSeries .classicSeriesText .blinkIcon {
    width: 40px;
    height: 40px; }
  .classicSeries .classicSeriesText h2 {
    margin-left: 8px;
    text-transform: uppercase;
    color: #AA0601;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic; }

.classicSeries .sunglassesGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .classicSeries .sunglassesGroup .classicSeriesText {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.coBrand {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
  background-position: center;
  height: 705px;
  padding-bottom: 80px; }
  .coBrand .mainTitleStyle {
    color: white; }
  .coBrand .coBrandProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .coBrand .coBrandProduct li {
      width: 540px;
      height: 455px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative; }
    .coBrand .coBrandProduct li::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5); }
    .coBrand .coBrandProduct .itemDouble {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true");
      margin-right: 30px; }
    .coBrand .coBrandProduct .itemYouth {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true"); }
    .coBrand .coBrandProduct h3 {
      z-index: 2;
      font-size: 4.5rem;
      color: #AA0601;
      font-weight: bold; }

.customer .customerList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .customer .customerList .customerListItem {
    width: 255px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px; }
    .customer .customerList .customerListItem .customerPic img {
      border-radius: 4px 5px 0px 0px; }
  .customer .customerList .customerContent {
    height: 204px;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .customer .customerList .customerText {
    color: #212529; }
  .customer .customerList .name {
    font-size: 0.875rem; }
  .customer .customerList .date {
    color: #707070;
    font-size: 0.875rem; }

.contact {
  background-color: #AA06010D; }
  .contact .container {
    width: 730px; }
    .contact .container .contactUsTitle {
      color: black; }
    .contact .container .contactUsText {
      font-size: 1.25rem; }
  .contact .contactForm input {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    height: 50px;
    padding: 16px; }
  .contact .contactForm .suggest textarea {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    height: 136px;
    padding: 16px; }
  .contact .contactForm .contactFormCheckbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact .contactForm .contactFormCheckbox .checkbox {
      width: 20px;
      height: 20px;
      margin-right: 8px; }
  .contact .contactForm .contactFormSubmit {
    text-align: center; }
    .contact .contactForm .contactFormSubmit .submit {
      width: 350px;
      text-align: center;
      background-color: #AA0601;
      color: white;
      border: none;
      border-radius: 0%; }
    .contact .contactForm .contactFormSubmit .submit:hover {
      width: 350px;
      text-align: center;
      background-color: #650300;
      color: white;
      border: none;
      border-radius: 0%; }

/*# sourceMappingURL=all.css.map */
