// 引入 google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

// body 是在 layout.ejs 上的
body{
    // 字體: 先加英文再加中文
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    // RWD 圖片防破版設定

    *, *::before, *::after {
        box-sizing: border-box;
    }

    img{
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
}

// 共通設定

.w-100{
    width: 100%;
}

.text-center{
    text-align: center;
}

// flex 設定

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.f-wrap{
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

// Product 頁面的 nav Bar 設定

    .material-icons{
        font-size: $fz-4-5;
        margin-right: 10px;
    
        @include pad(){
            font-size: $fz-4;
        }
        @include mobile(){
            font-size: $fz-1;
        }
    }
    
    .navProductBtn{
        font-size: $fz-4-5;
        color: black;
        @include linkSetting;
        padding: 20px 0;
    
        @include pad(){
            font-size: $fz-4;
            padding: 10px 0;
        }
        @include mobile(){
            font-size: $fz-1;
            padding: 4px 0;
        }
    }



// Product 產品顏色盒子

.colorBox{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}




// RWD 容器最大寬度設定 (及留邊距)

.container{
    max-width: 1140px;
    margin: 0 auto;   // 這兩行不再重複寫，平板跟手機會繼承
    padding: 0 15px;  // 這兩行不再重複寫，平板跟手機會繼承
    
    @include pad(){
        max-width: 720px;
    }

    @include mobile(){
        max-width: 375px;
    }
}