// 以h1文字包覆logo(SEO優化)

@mixin hideText{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-decoration: none;
}

@mixin linkSetting{
    display: block;
    text-decoration: none;
    text-align: center;
}

