
// mixin tools -----------------------------------

@mixin linkSetting{
    display: block;
    text-decoration: none;
    text-align: center;
}

// 以h1文字包覆logo(SEO優化)

@mixin hideText{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-decoration: none;
}

// RWD -----------------------------------
@mixin pad{
    @media (max-width: 992px){
      @content;
    }
  }
  
@mixin mobile{
    @media (max-width: 767px){
      @content;
    }
  }


