
// mixin tools -----------------------------------

@mixin linkSetting{
    display: block;
    text-decoration: none;
    text-align: center;
}

// 以h1文字包覆logo(SEO優化)

@mixin hideText{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-decoration: none;
}

// RWD -----------------------------------
@mixin pad{
    @media (max-width: 992px){
      @content;
    }
  }
  
@mixin mobile{
    @media (max-width: 767px){
      @content;
    }
  }

  // 左框線為紅色的大標題
  @mixin mainTitleWithBorder{
        border-left: 8px solid $border-left-title-color;
        font-size: $fz-6;
        padding-left: 16px;
        font-weight: bold;
        margin-bottom: $mb-7-5;

        @include pad(){
            margin-bottom: $mb-5;
        }

        @include mobile(){
            border-left: 4px solid $border-left-title-color;
            font-size: 28px;
            padding-left: 8px;
            margin-bottom: $mb-3;
        }
  }


