// font-size
$fz-1: 14px;
$fz-2: 16px;
$fz-3: 20px;
$fz-4: 24px;
$fz-5: 36px;
$fz-6: 48px;
$fz-7: 64px;
$fz-8: 72px;

// color
$primary-light: #AA0601;
$primary-dark: #650300;
$layout-font-color: #fff;
// RWD

@mixin pad{
    @media (max-width: 992px){
      @content
    }
  }
  
@mixin mobile{
    @media (max-width: 767px){
      @content
    }
  }
