// index頁面的顏色
.index{
    color: #FFFFFF, #00000029, #DEE2E6, #AA06010D, #650300, #000000, #212529, #707070, #AA0601;
  }
  
  // 系列鏡框頁面-眼鏡
  .optical{
    color: #FFFFFF, #000000, #AA0601, #5F3E2D, #B75929, #00000029, #DCDCDC, #555555, #F2F2F2;
  }
  
  // 系列鏡框頁面-墨鏡
  .sunglasses{
    color: #FFFFFF, #000000, #00000029, #DCDCDC, #AA0601, #5F3E2D, #B75929;
  }
  
  // 門市據點
  .shop{
    color: #FFFFFF, #CED4DA, #495057, #373A3C, #000000, #00000020, #212529, #00000029, #9F1213, #AA0601;
  }
  
  // 常見問題
  .QA{
    color: #FFFFFF, #000000, #9F1213, #AA0601;
  }
  
  // 部落格
  .blog{
    color: #FFFFFF, #650300, #00000029, #000000, #555555, #F2F2F2, #9F1213, #AA0601;
  }
  