
  // 左框線為紅色的大標題
  @mixin mainTitleWithBorder{
    border-left: 8px solid $border-left-title-color;
    font-size: $fz-6;
    padding-left: 16px;
    font-weight: bold;
    margin-bottom: $mb-7-5;

    @include pad(){
        margin-bottom: $mb-5;
    }

    @include mobile(){
        border-left: 4px solid $border-left-title-color;
        font-size: 28px;
        padding-left: 8px;
        margin-bottom: $mb-3;
    }
}

