// 頁碼 --------------------------------------------------

@mixin pagination{

    @include mobile(){
        width: 100%;
    }
  
    li{
        border: 1px solid #555555;
        flex-grow: 1;
    }
  
    li:last-child{
        background-color: #F2F2F2;
    }
  
    a{
        @include linkSetting;
        padding: 12px 16px;
        color: #555555;
  
        @include mobile(){
            padding: 12px 13px;
        }
    }
  
    a:hover{
        background-color: black;
        color: white;
    }
  
  }
  